Source: qmltermwidget
Maintainer: Alexis pez Zubieta <azubieta90@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: qmltermwidget
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QML port of qtermwidget
